.box{
    height: 200px;
    width: 200px;
    background-color: brown;
    position: relative;
}
.box::after{
    content: "";
    height: 200px;
    width: 200px;
    background-color:aqua;
    position: absolute;
    display: block;
    z-index: -1;
}